* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .c-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #007bff;
    color: #fff;
  }
  
  .body-input {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
  }
  
  .c-input {
    width: 80%;
    margin-right: 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
  }
  
  .btn {
    width: 65px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    align-self: center;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .body-todos {
    display: flex;
    flex-direction: column;
  }
  
  .todo {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #007bff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 5px;
  }

  .c-input-btn{
    border: 1px solid #007bff;
    border-radius: 5px;
    width: 20%;
    cursor: pointer;
    color: #007bff;
    background-color: #fff;
  }

  .c-input-btn:hover{
    background-color: #007bff;
    color: #fff;
  }

  